* {
    margin: 0;
    padding: 0;
}

body {
    width: 1240px;
    margin: 0 auto;
}

header {
    height: 80px;
}

header > .navbar {
    height: 60px;
    padding: 10px 0;
}

header > .navbar > .nav {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

header > .navbar > .nav > .menu {
    line-height: 60px;
    height: 60px;
}

.menu > span {
    font-family: ComicSansMS;
    font-size: 20px;
    color: #9B9B9B;
}

.hero {
    background-image: url('../img/hero-image-2.png');
    background-size: cover;
    height: 760px;
    display: grid;
    grid-template-columns: 180px auto 180px;
    margin-top: 10px;
}

.sliderNavButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeroSection {
    margin-top: 270px;
    text-align: center;
}

.heroDescription > .subTitle {
    font-family: ComicSansMS-Bold;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 4.2px;
}

.heroDescription > .heroTitle {
    font-family: ComicSansMS-Bold;
    font-size: 90px;
    color: #FFFFFF;
}

.actionButton {
    background-color: #F5A623;
    padding: 13px;
    border: none;
    font-family: ComicSansMS-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2.56px;
    text-align: center;
    cursor: pointer;
}

.blogSection {
    height: 550px;
}

.blogSectionContainer {
    margin: 115px auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.textSection > .blogQuote {
    font-family: ComicSansMS-Bold;
    font-size: 23px;
    color: #4A4A4A;
    letter-spacing: 4.2px;
}

.textSection > .blogTitle {
    font-family: ComicSansMS-Bold;
    font-size: 48px;
    color: #4A4A4A;
    letter-spacing: 2.56px;
    margin-top:40px;
}

.textSection {
    width: 465px;
}
.textSection > .blogDescription {
    font-family: ComicSansMS-Bold;
    font-size: 15px;
    color: #9B9B9B;
    letter-spacing: 0.8px;
    margin-top: 40px;
}



.textSection > .readMore {
    margin-top: 40px;
}

.blogSectionContainer > .rightSection > .rightImage > img {
    float: right;
}
.quoteSection {
    height: 325px;
    background-image: url('../img/quote-image.png');
    background-size: cover;
}

.quoteSectionContainer {
    padding-top: 61px;
    text-align: center;
}

.quoteSectionContainer > .bigQuote {
font-family: ComicSansMS-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 4.2px;
}

.quoteSectionContainer > .authorImage {
    margin-top: 36px;
}

.quoteSectionContainer > .authorName {
    font-family: ComicSansMS-Bold;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 9.54px;
    margin-top: 10px;
}

button:active, button:focus, a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
